<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #061551;">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="https://static.wixstatic.com/media/e26601_2e33e0bf34984ca99f53e95179dabc58~mv2.png/v1/crop/x_0,y_0,w_386,h_165/fill/w_110,h_50,al_c,q_85,usm_0.66_1.00_0.01/e26601_2e33e0bf34984ca99f53e95179dabc58~mv2.webp" alt="" width="110" height="50">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item active">
          <a class="nav-link" routerLink="/sales" routerLinkActive="active"><i class="fa fa-id-badge"></i> Ventas</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/register-sale" routerLinkActive="active"><i class="fas fa-plus-circle"></i> Añadir venta</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="contactsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Contactos
          </a>
          <ul class="dropdown-menu" aria-labelledby="contactsDropdown">
            <li><a class="dropdown-item" routerLink="/register-contact" routerLinkActive="active">Añadir contacto</a></li>
            <li><a class="dropdown-item" routerLink="/contacts" routerLinkActive="active">Lista de contactos</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="vendorsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Vendedores
          </a>
          <ul class="dropdown-menu" aria-labelledby="vendorsDropdown">
            <li><a class="dropdown-item" routerLink="/register-vendor" routerLinkActive="active">Añadir vendedor</a></li>
            <li><a class="dropdown-item" routerLink="/vendors" routerLinkActive="active">Lista de vendedores</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>